<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Kickpush</title>
  </head>
  <body class="bg-white">
    <div class="container">
        <%- include('partials/nav') %>

        <section class="section-half d-flex align-items-center justify-content-center">
          <div class="text-center">
              <h1 class="display-2"><strong>It’s not what you say, <br /> it’s what you do.</strong></h1>
          </div>
      </section>
        
      <section>
        <div class="card-group">
          <% for(var x = 0; x < projects.length; x++ ) { %>
            <div class="card" style="width: 18rem;">
              <img src="<%= projects[x].logo %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= projects[x].company %></h5>
                <p class="card-text"><%= projects[x].desciption %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="text-uppercase font-weight-bold"><%= projects[x].tech %></span></li>
                <li class="list-group-item"><span class="text-uppercase font-weight-bold"><%= projects[x].category %></span></li>
              </ul>
            </div>
            <% } %>
        </div>

      </section>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>